{% extends 'base.html' %}

{% load static %}

{% block title %}Portafolio{% endblock %}


{% block imagenPortada %} {{imagenPortada.url}}  {% endblock %}

{% block cabezeras %}
    <h1  style="font-size:40px;">Portafolio</h1>
    <span class="subheading">Currículum</span>
{% endblock %}
{% block content %}

<!--   

ESTILOS DE TARJETAS...
https://getbootstrap.com/docs/4.3/components/card/
https://www.codeply.com/go/T0SPcWuyBL/bootstrap-4-row-of-cards-with-icons

-->

<!--  P   R   O     Y      E    C       T       O      S    -->
<div id="proyectos" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Proyectos</h1>
      <p class="lead my-3">Algunos  proyectos en los que he trabajado en diferentes cursos asi como 
        tambien proyectos personales</p> </p>
      <p><a class="btn btn-secondary" href="{% url 'portafolio_app:proyectos' %}" role="button">Ver todos los proyectos &raquo;</a></p>
    </div>
</div>

<div class="card-deck" >

  {% for cadaProyecto in proyectos %}
      <div class="card">
        <img src="{{cadaProyecto.imagen.url}} " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cadaProyecto.titulo}}</h5>
          <p class="card-text"><small class="text-muted">{{cadaProyecto.terminoProyecto}}</small></p>
          <p class="card-text">{{cadaProyecto.descripccion|truncatechars:120}}</p>
          <p><a href="{% url 'portafolio_app:proyecto-detail' cadaProyecto.id %}">Más información</a></p>
        </div>
      </div>
  {% endfor %}
</div>
<br>

<!--  E   S   P   E   C   I     A    L     I      Z      A       C      I      O        N        E      S    -->
<div   id="especializaciones" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h1 class="display-4 font-italic">Especializaciones </h1>
    <p class="lead my-3">Una especializacion consta de diferentes cursos que aumentan de nivel de forma progresiva, el objetivo
      de una especializacion es profundizar en el tema.</p>

    <p><a class="btn btn-secondary" href="{% url 'portafolio_app:especializacion-lista' %}" role="button">Ver todas las especializaciones &raquo;</a></p>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    {% for cadaEspecializacion in especializaciones %}
    <div class="col-lg-4">
      <img class="rounded-circle"  {% if cadaEspecializacion.logoExtra.imagen.url %} src="{{cadaEspecializacion.logoExtra.imagen.url}}"  {% else %}  src="{{cadaEspecializacion.empresaEmisora.imagen.url}}"  {% endif %} alt="Generic placeholder image" width="140" height="140">
      <h2>{{cadaEspecializacion.nombre}}</h2>
      <p class="card-text"><small class="text-muted">{{cadaEspecializacion.fechaExpedicion}}</small></p>
      <p class="card-text"><small class="text-muted"> Duracion: {{cadaEspecializacion.duracionHoras}} horas</small></p>
      <p class="card-text">{{cadaEspecializacion.descripccion|truncatechars:120}}</p>
      
      <p><a href="{% url 'portafolio_app:especializacion-detail' cadaEspecializacion.id %}">Más información</a></p>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
</div><!-- /.container -->



<!--

<div class="card-deck" >
  {% for cadaEspecializacion in especializaciones %}
      <div class="card">
        <img {% if cadaEspecializacion.logoExtra.imagen.url %} src="{{cadaEspecializacion.logoExtra.imagen.url}}"  {% else %}  src="{{cadaEspecializacion.empresaEmisora.imagen.url}}"  {% endif %} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cadaEspecializacion.nombre}}</h5>
          <p class="card-text"><small class="text-muted">{{cadaEspecializacion.fechaExpedicion}}</small></p>
          <p class="card-text">{{cadaEspecializacion.descripccion|safe|truncatechars:200}}</p>
          <p><a href="http://google.com">Más información</a></p>
        </div>
      </div>
  {% endfor %}
</div>
<br>

-->



<!--  C   U   R   S   O    S             I   M    P    A     R    T     I      D     O       S  -->

<div  id="cursos_impartidos" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Cursos impartidos </h1>
      <!--
      <p class="lead my-3">A continuación muestro algunos de los cursos en los cuales yo he sido instructor
        ,sin embargo para ver todas los cursos que he impartido deberas dar clic sobre el siguiente boton</p>
      -->
        <p><a class="btn btn-secondary" href="{% url 'portafolio_app:cursosImpartidos-lista' %}" role="button">Ver todos los cursos impartidos &raquo;</a></p>
    </div>
</div>


<div class="container marketing">
    <div class="row">
      {% for cadaCurso in cursosImpartidos %}
      <div class="col-lg-4">
        <img class="rounded-circle"  {% if cadaCurso.logoExtra.imagen.url %} src="{{cadaCurso.logoExtra.imagen.url}}"  {% else %}  src="{{cadaCurso.empresaEmisora.imagen.url}}"  {% endif %} alt="Generic placeholder image" width="140" height="140">
        <h2>{{cadaCurso.nombre}}</h2>
        <p class="card-text"><small class="text-muted">{{cadaCurso.fechaInicio}} {% if cadaCurso.fechaFinalizacion %} -{{cadaCurso.fechaFinalizacion}}  {% endif %} </small></p>
        <p class="card-text"><small class="text-muted"> Duracion: {{cadaCurso.duracionHoras}} horas</small></p>
        <p class="card-text">{{cadaCurso.descripccion|truncatechars:120}}</p>
        <p><a href="{% url 'portafolio_app:cursoImpartido-detail' cadaCurso.id %}">Más información</a></p>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
    </div><!-- /.row -->
</div><!-- /.container -->



<!--  C   U   R   S   O    S         T    O    M    A   D    O    S  -->

<div  id="cursos_tomados" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Cursos tomados </h1>
      <!--
      <p class="lead my-3">A continuación presento  los certificados que he tomado </p>
      -->
      <p><a class="btn btn-secondary" href="{% url 'portafolio_app:cursosTomados-lista' %}" role="button">Ver todos los cursos que he tomado &raquo;</a></p>
    </div>
</div>


  
<div class="container">
  {% for cadaCurso in cursosTomados %}
      {% if forloop.counter0|divisibleby:3 %}
        {% if not forloop.first  %}</div>{% endif %}
        <div class="row my-3">
      {% endif %}

      <div class="col-md-4">
          <div class="card text-center h-100">
              <a href="#">
                <div class="card-block">
                    <h5 class="card-title"> 
                        <a href="#"> {{cadaCurso.nombre}} </a> </h5>
                    <div class="mb-1 text-muted">{{cadaCurso.fechaExpedicion}}</div>
                    <h2>
                        <img class="rounded-circle"  {% if cadaCurso.logoExtra.imagen.url %} src="{{cadaCurso.logoExtra.imagen.url}}"  {% else %}  src="{{cadaCurso.empresaEmisora.imagen.url}}"  {% endif %}   alt="Generic placeholder image" width="140" height="140">
                    </h2>
                </div>
                <div class="row px-2 no-gutters">
                  <div class="col-12">
                    <p><a href="{% url 'portafolio_app:cursoTomado-detail' cadaCurso.id %}">Más información</a></p>

                  </div>
                  <!--
                    <div class="col-12">
                      <p><a href="http://google.com">Más información</a></p>
                    </div>
                   -->
                </div>
             </a>
          </div>
      </div>
      
      {% if forloop.last %}
      </div>
      {% endif %}
  {% endfor %}
</div>


  


<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Experiencia laboral </h1>
      <!--
      <p class="lead my-3">A continuación presento  los certificados que he tomado </p>
      -->
    </div>
</div>


<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
{% for cadaExperiencia in experienciaLaboral %}
  
  <div class="media  pt-3">
    <img src="{{cadaExperiencia.institucion.imagen.url}}" width="60" height="60" alt="" class="mr-2 rounded">
    
    <div class="border-bottom border-gray pb-2 mb-0">
      <h3>
        <a href="{{cadaExperiencia.institucion.linkVista}}">
          {{cadaExperiencia.institucion}}
        </a>
      </h3>
      <small class="text-muted">{{cadaExperiencia.fechaInicio}} {% if cadaExperiencia.fechaFinalizacion %} - {{cadaExperiencia.fechaFinalizacion}} {% else %} - Actualidad{% endif %} </small>
    </div>
    
  </div>


  {% for cadaActividad in cadaExperiencia.actividades.all %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        {{cadaActividad.descripccion|truncatechars:120}}
      </p>
    </div>
  {% endfor %}

{% endfor %}
</div>
</main>

    
{% endblock %}

