{% extends 'base.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block imagenPortada %} {{imagenPortada.url}}  {% endblock %}
{% block cabezeras %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}
{% block content %}
        <div class="row">
          <div class="col-xl-12 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <!-- <span class="section-heading-upper">Envíanos tus dudas</span>
                  <span class="section-heading-lower">Contacto</span> -->
                  Tu mensaje se ha mandado exitosamente, gracias por comunicarte conmigo,
                  si tienes duda acerca de si el correo que ingresaste fue el correcto, checa
                  tu buzon de correo ya que te debio llegar un correo electronico de respuesta.
                </h2>
            </div>
          </div>
        </div>


{% endblock %}






